@font-face {
    font-family: "碳化硅超黑体";
    src: url('碳化硅超黑体.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "微软雅黑";
    src: url('微软雅黑.ttf');
    font-weight: normal;
    font-style: normal;
}
